.app-background {
  background-color: #2c2f33;
}

body {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

a {
  -webkit-app-region: no-drag;
}

.titlebar {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.news-card {
  min-height: 320px;
  border-radius: 0 !important;
}

.directory-card {
  padding-left: 0px;
  border-radius: 0 !important;
}

.blur {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.window-control {
  :hover {
    color: #fff;
  }
  padding-left: 5px;
}

.nav-button {
  :hover {
    color: #ffc107;
  }
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.modal {
  -webkit-app-region: no-drag;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}

.form-select {
  background-color: #343a40;
  color: #f8f9fa;
  border-color: #495057;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23f8f9fa' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

  &:focus {
    background-color: #343a40;
    color: #f8f9fa;
    border-color: #6c757d;
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
  }

  option {
    background-color: #343a40;
    color: #f8f9fa;
  }
}

.form-control {
  background-color: #343a40; 
  color: #f8f9fa;
  border-color: #495057;

  &:focus {
    background-color: #343a40;
    color: #f8f9fa;
    border-color: #6c757d;
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
  }
}

@font-face {
  font-family: "Friz Quadrata";
  font-style: normal;
  font-weight: 400;
  src: local("Friz Quadrata"),
    url("/assets/fonts/friz-quadrata-regular.woff") format("woff");
}
@font-face {
  font-family: "Friz Quadrata";
  font-style: italic;
  font-weight: 400;
  src: local("Friz Quadrata"),
    url("/assets/fonts/friz-quadrata-bold-italic.woff") format("woff");
}

.friz {
  font-family: "Friz Quadrata";
  color: #f8b700;
  text-shadow: 1.25px 1.25px 0 rgba(0, 0, 0, 0.3),
    -1.25px -1.25px 0 rgba(0, 0, 0, 0.3), 1.25px -1.25px 0 rgba(0, 0, 0, 0.3),
    -1.25px 1.25px rgba(0, 0, 0, 0.3);
}
