.app-background {
    background-color: #2C2F33;
}

body {
    -webkit-app-region: drag;
    background: url('https://cdn.project-epoch.net/media/updater/background.jpg');
}

button {
    -webkit-app-region: no-drag;
}

.titlebar {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.fixed-row-bottom {
    position:fixed;
    bottom:0;
    width:100%;
}