.app-background {
    background-color: #2C2F33;
}

body {
    -webkit-app-region: drag;
    background: url('https://cdn.project-epoch.net/media/updater/background.jpg');
}

button {
    -webkit-app-region: no-drag;
}

a {
    -webkit-app-region: no-drag;
}

.titlebar {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.news-card {
    min-height: 320px;
    border-radius: 0 !important;
}

.blur {
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(3px);
}

.window-control {
    :hover { color: #FFF; }
    padding-left: 5px;
}

.nav-button {
    :hover { color: #ffc107; }
}

.fixed-row-bottom {
    position:fixed;
    bottom:0;
    width:100%;
}