.app-background {
    background-color: #2C2F33;
}

body {
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}

a {
    -webkit-app-region: no-drag;
}

.titlebar {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.news-card {
    min-height: 320px;
    border-radius: 0 !important;
}

.directory-card {
    padding-left: 0px;
    border-radius: 0 !important;
}

.blur {
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(3px);
}

.window-control {
    :hover { color: #FFF; }
    padding-left: 5px;
}

.nav-button {
    :hover { color: #ffc107; }
}

.fixed-row-bottom {
    position:fixed;
    bottom:0;
    width:100%;
}

.modal-background {
    background-color: rgba(0,0,0, 0.7);
    backdrop-filter: blur(3px); 
}

.slide-button {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: auto;
    padding-left: 20px;
    :hover { background-color: grey; color:rgba(0,0,0, 0.7)};
}